---
---
@media (max-width: 1200px)
    footer
        table, h5
            display: block

.sponsor

    margin: auto

main
        img
            width: 800px
            height: 500px
            object-fit: cover
