---
layout: default
title: Resources
permalink: /resources
description: Resources for other FRC teams and presentation logs from our preseason conventions.
---

<main>
    <hr />
    <h1>Our cads</h1>
    <p style="font-size: large;">
        The Goo Goo Man
    </p>
    <hr />
    <h1>Our Programs</h1>
    <p style="font-size: large;">
        str hello world = "hello world print"
    </p>
    <p style="font-size: large;"> 
        print (hello world)
    </p>
    <hr />
    <!--<div>
        <div class="VEX">
            {% for post in site.VEX %}
            <article class="VEX">
                <h1>
                    <a href="{{ site.baseurl }}{{ VEX.url }}"
                        >{{ VEX.title }}</a
                    >
                </h1>

                <div class="entry">{{ post.excerpt }}</div>

                <a href="{{ site.baseurl }}{{ VEX.url }}" class="read-more"
                    >Read More</a
                >
            </article>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="posts">
            {% for post in site.posts %}
            <article class="post">
                <h1>
                    <a href="{{ site.baseurl }}{{ post.url }}"
                        >{{ post.title }}</a
                    >
                </h1>

                <div class="entry">{{ post.excerpt }}</div>

                <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"
                    >Read More</a
                >
            </article>
            {% endfor %}
        </div>
    </div>-->
</main>
