<footer>
    <h5>We love our sponsors!</h5>
    <p class="emphasized">
        Please consider <a href="/sponsorship">sponsoring us</a>!
    </p>
    <h5>Platinum sponsors</h5>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="https://wkths.pasco.k12.fl.us/" target="_blank"
                        ><img  style="height: 175px;width: auto"src="/images/sponsors/Ktech.png"
                    /></a>
                </td>
                <td>
                    <a href="https://iesmissioncritical.com/" target="_blank"
                        ><img  style="height: 175px;width: auto"src="/images/sponsors/IES Electrical Mission Critical.png"
                    /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <h5>Gold sponsors</h5>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="https://facts-eng.com/" target="_blank"
                        ><img
                            style="height: 115px;width: auto"
                            src="/images/sponsors/FACTS.png"
                    /></a>
                </td>
                <td>
                    <a
                        href="https://www.pascoeducationfoundation.org/"
                        target="_blank"
                        ><img
                            style="height: 115px;width: auto"
                            src="/images/sponsors/PascoEDU.png"
                    /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <h5>Silver sponsors</h5>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="https://www.solidworks.com/" target="_blank"
                        ><img  style="height: 120px;width: auto" src="/images/sponsors/SDW.svg"
                    /></a>
                </td>
                <td>
                    <a href="https://thepartyalchemist.com/" target="_blank"
                        ><img  style="height: 130px;width: auto" src="/images/sponsors/ThePartyAlc.png"
                    /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <h5>Bronze sponsors</h5>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="https://bama-fl.org/" target="_blank"
                        ><img
                             style="height: 85px;width: auto"
                            src="/images/sponsors/BAMA.png"
                    /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <h5>Led sponsors</h5>
    <table>
        <tbody>
            <tr>
                <td>
                    <a
                        href=""
                        target="_blank"
                        ><img  style="height: 115px;width: auto"src="/images/sponsors/CPF.png"
                    /></a>
                </td>
                <td>
                    <a
                        href="http://lifespanservices.com/index.php/contact-us/"
                        target="_blank"
                        ><img
                            style="height: 85px;width: auto"
                            src="/images/sponsors/Lifespan.png"
                    /></a>
                </td>
                <td>
                    <a href="https://www.officedepot.com/" target="_blank"
                        ><img
                            style="height: 55px;width: auto"
                            src="/images/sponsors/Office Depot.png"
                    /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>© {{ site.time | date: '%Y' }} Team 6722.</p>
    <p>
        <a href="https://github.com/LED-Robotics/led-robotics.github.io"
            >View site source on GitHub</a
        >
    </p>
    <p>
        <a href="https://forms.gle/s6RCjAgyzZ24tDhS7"
            >We're Open to Website Feedback!</a
        >
    </p>
    <a href="http://www.firstinspires.org"
        ><img class="first-logo" src="/images/first.png"
    /></a>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %} {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
{% endfor %} {% endif %}
