<footer>
    <h5>We love our sponsors!</h5>
    <p class="emphasized">
        Please consider <a href="/sponsorship">sponsoring us</a>!
    </p>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="https://facts-eng.com/" target="_blank"
                        ><img
                            class="sponsor-large"
                            src="/images/sponsors/FACTS.png"
                    /></a>
                </td>
                <td>
                    <a href="https://www.coastcadillac.com/" target="_blank"
                        ><img src="/images/sponsors/AutoNation.png"
                    /></a>
                </td>
                <td>
                    <a href="https://bama-fl.org/" target="_blank"
                        ><img
                            class="sponsor-large"
                            src="/images/sponsors/BAMA.png"
                    /></a>
                </td>
                <td>
                    <a href="https://www.belleaircc.com/" target="_blank"
                        ><img src="/images/sponsors/Bellair.png"
                    /></a>
                </td>
                <td>
                    <a
                        href="https://www.customplasticfabricators.com/"
                        target="_blank"
                        ><img src="/images/sponsors/CPF.png"
                    /></a>
                </td>
                <td>
                    <a href="https://wkths.pasco.k12.fl.us/" target="_blank"
                        ><img src="/images/sponsors/Ktech.png"
                    /></a>
                </td>
                <td>
                    <a
                        href="http://lifespanservices.com/index.php/contact-us/"
                        target="_blank"
                        ><img
                            target="_blank"
                            src="/images/sponsors/Lifespan.png"
                    /></a>
                </td>
                <td>
                    <a href="https://www.lincolnoldparts.com/" target="_blank"
                        ><img
                            target="_blank"
                            src="/images/sponsors/LincolnMerc.png"
                    /></a>
                </td>
                <td>
                    <a href="https://www.officedepot.com/" target="_blank"
                        ><img
                            target="_blank"
                            src="/images/sponsors/Office Depot.png"
                    /></a>
                </td>
                <td>
                    <a
                        href="https://www.pascoeducationfoundation.org/"
                        target="_blank"
                        ><img
                            target="_blank"
                            src="/images/sponsors/PascoEDU.png"
                    /></a>
                </td>
                <td>
                    <a href="https://prestaautorepair.com/" target="_blank"
                        ><img
                            target="_blank"
                            src="/images/sponsors/Prestaauto.png"
                    /></a>
                </td>
                <td>
                    <a href="https://qcausa.com/" target="_blank"
                        ><img target="_blank" src="/images/sponsors/Quest.png"
                    /></a>
                </td>
                <td>
                    <a href="https://teamfarrell.com/" target="_blank"
                        ><img
                            target="_blank"
                            src="/images/sponsors/TeamFarrell.png"
                    /></a>
                </td>
                <td>
                    <a href="https://trusimulation.com/" target="_blank"
                        ><img target="_blank" src="/images/sponsors/TRU.png"
                    /></a>
                </td>
                <td>
                    <a href="https://trubilletmachining.com/" target="_blank"
                        ><img
                            target="_blank"
                            src="/images/sponsors/TRU-Billet.png"
                    /></a>
                </td>
                <td>
                    <a
                        href="https://www.vanguardprotexglobal.com/"
                        target="_blank"
                        ><img target="_blank" src="/images/sponsors/VPG.png"
                    /></a>
                </td>
                <td>
                    <a href="https://www.solidworks.com/" target="_blank"
                        ><img target="_blank" src="/images/sponsors/SDW.svg"
                    /></a>
                </td>

                <td><img src="" /></td>
            </tr>
        </tbody>
    </table>
    <p>© {{ site.time | date: '%Y' }} Team 6772.</p>
    <p>
        <a href="https://github.com/LED-Robotics/led-robotics.github.io"
            >View site source on GitHub</a
        >
    </p>
    <p>
        <a href="https://forms.gle/s6RCjAgyzZ24tDhS7"
            >We're Open to Website Feedback!</a
        >
    </p>
    <a href="http://www.firstinspires.org"
        ><img class="first-logo" src="/images/first.png"
    /></a>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %} {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
{% endfor %} {% endif %}
